* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem = 10px 10/16 = 62.5%

	@include mediaquery(big-desk) {
		font-size: 87.5%; // 1rem = 14px 14/16 = 87.5%
	}

	@include mediaquery(tab-land) {
		font-size: 50%; // 1rem = 8px 8/16 = 50%
	}

	@include mediaquery(tab-port) {
		font-size: 37.5%; // 1rem = 6px 6/16 = 37.5%
	}

	@include mediaquery(Phone) {
		font-size: 37.5%; // 1rem = 6px 6/16 = 37.5%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include mediaquery(tab-port) {
		padding: 0;
	}
}
